body {
    margin: 0;
}

.github-image {
    width: 1.8rem;
    height: 1.8rem;
    color: #262626;
    transition: color 0.2s ease-in-out;
    color: #fff;
}

.github-image:hover {
    color: #cecece;
}

.background {
    position: absolute;
    top: 0;
    z-index: -2;
    min-height: 100vh;
    width: 100vw;
    background-color: #000000;
    background-image: radial-gradient(circle, #ffffff33 1px, #00091d 1px);
    background-size: 20px 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 35px 1fr 50px;
    max-width: 1280px;
    margin-inline: auto;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
}

header a {
    height: 24px;
}

footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: oklch(0.987 0.022 95.277);
    font-size: 18px;
    line-height: calc(1.75 / 1.125);
    font-weight: 700;
}

.container main {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    align-items: center;
    min-height: 0;
    overflow-y: hidden;
}

.main__title {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: oklch(0.987 0.022 95.277);
    font-weight: 700;
}

.title__subtitle {
    display: block;
    background: linear-gradient(to right, #fafafa, #64748b, #fafafa);
    background-clip: text;
    color: transparent;
    line-height: 4rem;
    font-weight: 700;
}

.main__panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    border-radius: 1rem;
    overflow: hidden;
}

.panel__markdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #334155;
}

.panel__markdown__title {
    color: white;
    text-align: center;
    margin-top: 0.75rem;
    font-weight: bold;
    font-size: 1.125rem;
}

.panel__markdown__textarea {
    color: white;
    background-color: #334155;
    outline: none;
    resize: none;
    padding: 1rem;
    border: none;
    font-size: 20px;
    flex: 1;
}

.panel__slider {
    width: 0.375rem;
    min-width: 0.375rem;
    cursor: col-resize;
    background-color: #4b5563;
}

.panel__slider--hover:hover {
    background-color: #d1d5db;
}

.panel__html {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #334155;
}

.panel__html__title {
    color: white;
    text-align: center;
    margin-top: 0.75rem;
    font-weight: bold;
    font-size: 1.125rem;
}

.panel__html__textarea {
    padding: 1rem;
    overflow: auto;
    color: white;
    flex: 1;
}

/* --- Editando el ScrollBar --- */
/* Para editar el área blanca donde aparece el thumb */
::-webkit-scrollbar {
    width: 8px;
}

/* Para editar el área blanca, su color, etc... */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Para editar el scrollbar thumb, lo que clickamos para desplazarnos básicamente */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}