@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose code {
    background-color: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Courier New', monospace;
    color: #333;
}

.prose code::before {
    content: "";
}

.prose code::after {
    content: "";
}

/* --- Editando el ScrollBar --- */
/* Para editar el área blanca donde aparece el thumb */
::-webkit-scrollbar {
    width: 8px;
}

/* Para editar el área blanca, su color, etc... */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Para editar el scrollbar thumb, lo que clickamos para desplazarnos básicamente */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}