button {
  background-color: #5966d8;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

select {
  background: rgb(231, 230, 230);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.parent {
  min-width: 450px;
  height: 515px;
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.parent h1 {
  text-align: center;
  color: #4D6691;
}

.nav-tasks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.container-tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebebeb;
  border-radius: 10px;
  padding: 10px;
}

.show-task {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.show-task label,
.options-task {
  display: flex;
  align-items: center;
  gap: 5px;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addTaskForm input {
  border: solid lightgrey;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 2px 2px 40px -8px rgba(0, 0, 0, 0.25);
}

.line-through {
  text-decoration: line-through;
}

.parent {
  --sb-track-color: #232E33;
  --sb-thumb-color: rgb(180, 180, 180);
  --sb-size: 13px;
}

.parent::-webkit-scrollbar {
  width: var(--sb-size)
}

.parent::-webkit-scrollbar-track {
  border-radius: 3px;
}

.parent::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .parent {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}