body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(83, 34, 189);
  background: linear-gradient(320deg, rgb(104, 61, 197) 21%, rgb(112, 35, 236) 46%, rgb(44, 44, 122) 79%);
  background-size: cover;
  background-repeat: no-repeat;
}