body {
  margin: 0;
  padding: 0;
  width: 1280px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(83, 34, 189);
  background: linear-gradient(320deg, rgba(83, 34, 189, 1) 21%, rgba(57, 57, 133, 1) 46%, rgba(36, 36, 176, 1) 79%);
}